@model StudentsInCourseViewModel

@{
    ViewData["Title"] = $"Course {@Model.Course.Name}";
}

<h2>Students in course @Model.Course.Name</h2>
<h3>@Model.Course.StartDate - @Model.Course.EndDate</h3>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Grade
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => student.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.Email)
                </td>

                <td>
                    @(student.Grade == null ? "No Grade" : student.Grade.ToString())

                </td>
                @if (Model.Course.EndDate < DateTime.UtcNow.Date)
                {
                    <td>
                        <form method="post" asp-action="GradeStudent"
                              asp-route-courseId="@Model.Course.Id">
                            <input type="hidden" name="StudentId" value="@student.Id" />
                            <div class="row">
                                <div class="col-md-4">
                                    <select name="Grade" class="form-control" asp-items=@(Html.GetEnumSelectList<Grade>())>Grades</select>
                                </div>
                                <div class="col-md-6">
                                    <input type="submit" value="Grade Student" class="btn btn-primary" />

                                </div>

                            </div>
                        </form>
                    </td>


                    <td>
                        <a asp-action="DownloadExam" asp-route-courseId="@Model.Course.Id" asp-route-studentId="@student.Id" >Download</a>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
