@model ArticleListingViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


@if (User.IsInRole(WebConstants.BlogAuthorRole))
{
    <a class="btn btn-primary" asp-action="Create">Publish new Article</a>
}

<hr />
@{
    var peviousPageDisable = Model.CurrentPage == 1 ? "disabled" : String.Empty;
    var nextPageDisable = Model.CurrentPage == Model.TotalPages ? "disabled" : String.Empty;

    var routeValuePreviousPage = new Dictionary<string, string> { ["page"] = Model.PreviousPage.ToString() };
    var routeValueNextPage = new Dictionary<string, string> { ["page"] = Model.NextPage.ToString() };

    var searchQuery = string.IsNullOrEmpty(Model.Search) ? string.Empty : ("Search=" + Model.Search + "&");

}

<form method="get">
    <div class="row">
        <div class="col-md-4">
            <input name="Search" class="form-control" type="text" value="@Model.Search" />
        </div>
        <div class="col-md-2">
            <input class="btn btn-primary" type="submit" value="Search" />

        </div>

    </div>
</form>


<ul class="pagination">
    <li class="page-item @peviousPageDisable">
        <a class="page-link  @peviousPageDisable" href="Articles?@(searchQuery)page=@Model.PreviousPage" tabindex="-1">Previous</a>
    </li>
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <li class="page-item @(Model.CurrentPage == i ? "active": String.Empty)"><a class="page-link" href="Articles?@(searchQuery)page=@i">@i</a></li>


    }
    <li class="page-item @nextPageDisable">
        <a class="page-link @nextPageDisable"  href="Articles?@(searchQuery)page=@Model.NextPage">Next</a>
    </li>
</ul>

<div class="row">
    <div class="col-md-6">
        <ul class="list-group">
            @foreach (var article in Model.Articles)
            {
                <li class="list-group-item">
                    <h2>
                        @{
                            var detailRouteValue = new Dictionary<string, string> { ["id"] = article.Id.ToString() };
                        }
                        <a asp-action="Details" asp-all-route-data="detailRouteValue">@article.Title</a>
                    </h2>

                    <div align="right" class="text-info small">Published by @article.Author on @article.PublishDate.ToShortDateString()</div>


                </li>
            }
        </ul>
    </div>

</div>




